.containerActivities{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 40vh;
    

}
.imgActivities {
    width: 100%;
    height: 500px;
    object-fit: cover !important;
    margin: 5px;
    
}
.borderActivity{
    border-radius: 15px;
}