*{
  margin: 0%;
  padding: 0%;
}


a{
  text-decoration: none;
}

.snackBarStyle{
  padding: 2vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  font-size: large;
}


