.footerGlobal{
    margin-top: auto;
   }

.footerFlex{
    color: rgb(190, 186, 186);
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
/* .footerFlex:hover{
    background-color: rgb(48, 69, 139);
} */

.downFooter{
    text-align: center;
    background: #000;
    color: aliceblue;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.iconFlex{
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigate-flex{
    
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.policiesFlex{
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h3Footer{
    color: white;

}

.navigateColor{
    color: rgb(190, 186, 186);
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
}



.navigateColor:hover{
    color: #000000 !important;
}
