.tineraryesName{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    font-size: 2vh;
    border-radius: 20px;

}
@media (min-width: 500px) {
    .tineraryesName {
        font-size: 3vh;
    }
  }
@media (min-width: 768px) {
    .tineraryesName {
        font-size: 4vh;
    }
  }
 

.tineraryesBg{
    background-image: url(https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}

.tineraryManagerPhoto{
    object-fit: cover !important;
}
@media (max-width: 768px) {
    .tineraryManagerPhoto {
        width: 100px !important;
        height: 100px !important;
    }
  }