.Footer{
    margin-top: auto;
   }

.Footer-flex{
    color: aliceblue;
    text-shadow: black 0.1em 0.1em 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.down-footer{
    text-align: center;
    background: #000;
    color: aliceblue;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.ico-flex{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigate-flex{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container.color{
    background-color: blue;
}